.donut-inner {
    margin-top: -150px;
    margin-bottom: 100px;
    margin-left: 80px;
 }
 .donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
 }
 .donut-inner span {
    font-size: 20px;
 }
 